@import "http://assets.l.is/css/structure/fonts.css";

body {
    background: #78182F url('images/bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #fff;
    font-family: 'lagora-sans', Helvetica, Arial, sans-serif;
    font-weight: 200;
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none
}

.leaderboard {
    float: left;
    margin: 0;
    width: 73%;
}

.player {
    cursor: pointer;
    padding: 5px;
    font-size: 1.5em;
    font-weight: 700;
    margin: 0;
    padding: 0;
    padding-left: -10px;
    position: relative;
    margin-left: 950px;
    height: 97px;
    width: 400px;
}

.player.selected {
    opacity: .4;
    -moz-opacity: .4;
    filter: alpha(opacity=4);
}

.player .name {
    font-size: 1.1em;
    -webkit-text-shadow: 2px 2px #000;
    text-shadow: 2px 2px #000;
    position: absolute;
}
.player .title {
    font-size: .7em;
    font-weight: 400;
    position: absolute;
    margin-top: 5px;
}
.player .score {
    font-size: 1.1em;
    font-weight: 700;
    position: absolute;
    top: 0;
    right: 0;
}
.player .given {
    position: absolute;
    top: 29px;
    right: 0;
    font-size: .7em;
}
.player img {
    display:none;
}
.details {
    float: right;
    font-family: 'lagora-slab';
    font-weight: 700;
    font-size: 2em;
    margin-right: 30px;
    padding: 10px;
    -webkit-text-shadow: 2px 2px #000;
    text-shadow: 2px 2px #000;
    width: 420px;
}
.details img {
    width: 400px;
}
.details .points {
    font-size: 3em;
    text-align: center;
}
.details .name {
    font-size: 1.5em;
    margin: 10px 0;
}
.details .logo {
    position: fixed;
    bottom: 20px;
    right: 40px;
}
.current {
    display: inline-block;
    padding: 5px 15px;
}

@media only screen and (min-device-width:1200px) {
    .player:nth-child(-n+5){font-size:46px;height:215px;margin-left:30px;width:865px}
    .player:nth-child(-n+5) img{display:block;float:right;height:215px}
    .player:nth-child(-n+5) .score {
        bottom: 40px;
        left: 0;
        top: auto;
        right: auto;
    }
    .player:nth-child(6) {
        margin-top: -1070px;
    }
    .player:nth-child(-n+5) .given{float:right;font-size:1.1em;margin-right:10px;position:static}
}

@media only screen and (min-device-width:768px) and (max-device-width:1024px) {
    body{font-size:.7em}
    .leaderboard{width:420px}
    .player {
        border-bottom:1px dashed #fff;
        margin:0 0 0 380px;
        height:50px;
        width:300px
    }
    .player:nth-child(-n+10) {
        margin: 5px 0 0 0;
    }
    .player:nth-child(11){
        margin-top: -560px;
    }
    .details{width:220px}
    .details img{width:200px}
    .details .lidol{display:none}
}
